<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--
    <meta name="google-signin-client_id" content="<%= ENV["GOOGLE_CLIENT_ID"]%>">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    -->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%# if user_signed_in? %>
      <%#= image_tag session[:user_image] %>
      <%#= session[:user_name] %>
      <%#= link_to "Log out", log_out_path %>
    <%# else %>
      <%#= link_to "Sign up", sign_up_path %>
      <%#= link_to "Login", sign_in_path %>
    <%# end %>
    <%= yield %>
  </body>
</html>
